USE [Fatturazione]
GO
/****** Object:  Table [dbo].[Attivita]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attivita](
	[idAttivita] [int] IDENTITY(1,1) NOT NULL,
	[idTipoAttivita] [int] NOT NULL,
	[idAnagrafica] [int] NOT NULL,
	[DescrizioneAttivita] [nvarchar](200) NOT NULL,
	[NrAttivita] [nvarchar](10) NULL,
	[StatoAttivita] [int] NOT NULL,
	[ProgettoDefinitivo] [datetime] NULL,
	[ConcessioneEdilizia] [datetime] NULL,
	[InizioLavori] [datetime] NULL,
	[ImportoOpera] [float] NULL,
	[ImportoDef] [int] NOT NULL,
	[CodiceIdentificativoGara] [nvarchar](10) NULL,
	[CodiceUnicoProgetto] [nvarchar](15) NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK_Attivita] PRIMARY KEY CLUSTERED 
(
	[idAttivita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attivita_Dettaglio]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attivita_Dettaglio](
	[idAttivitaDettaglio] [int] IDENTITY(1,1) NOT NULL,
	[idAttivita] [int] NOT NULL,
	[idTipoDettaglioAttivita] [int] NOT NULL,
	[Ordine] [int] NOT NULL,
	[DescrizioneDettaglio] [nvarchar](200) NOT NULL,
	[Importo] [float] NOT NULL,
	[ImportoIniziale] [float] NOT NULL,
	[NotaDettaglio] [nvarchar](200) NULL,
	[Scadenza] [datetime] NOT NULL,
	[StatoDettaglio] [int] NOT NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [IX_Attivita_Dettaglio] UNIQUE CLUSTERED 
(
	[idAttivita] ASC,
	[Ordine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-BancheAppoggio]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-BancheAppoggio](
	[idBancaAppoggio] [int] IDENTITY(1,1) NOT NULL,
	[Banca] [nvarchar](50) NOT NULL,
	[ABI] [nvarchar](5) NOT NULL,
	[Agenzia] [nvarchar](50) NOT NULL,
	[CAB] [nvarchar](5) NOT NULL,
	[Soggetto] [nvarchar](1) NOT NULL,
	[IBAN] [nvarchar](27) NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK__STA-BancheAppogg__52593CB8] PRIMARY KEY CLUSTERED 
(
	[idBancaAppoggio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-CodiciIVA]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-CodiciIVA](
	[idCodiceIVA] [int] IDENTITY(1,1) NOT NULL,
	[DescrizioneCodiceIVA] [nvarchar](50) NOT NULL,
	[AliquotaCodiceIVA] [float] NOT NULL,
	[SiglaCodiceIVA] [nvarchar](2) NOT NULL,
	[idNaturaIVA] [int] NULL,
	[Bollo] [int] NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK__STA-CodiciIVA__5441852A] PRIMARY KEY CLUSTERED 
(
	[idCodiceIVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-CodiciPagamento]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-CodiciPagamento](
	[IdPagamento] [int] IDENTITY(1,1) NOT NULL,
	[idTipoPagamento] [int] NOT NULL,
	[DescrPag] [nvarchar](70) NULL,
	[NumScadenze] [int] NOT NULL,
	[GGScad1] [int] NOT NULL,
	[GGScad2] [int] NULL,
	[GGScad3] [int] NULL,
	[GGpiu] [int] NULL,
	[FineMese] [bit] NOT NULL,
	[idCondizionePagamento] [int] NULL,
	[idModalitaPagamento] [int] NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK__STA-CodiciPagame__5629CD9C] PRIMARY KEY CLUSTERED 
(
	[IdPagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-FE_NatureIVA]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-FE_NatureIVA](
	[idNaturaIVA] [int] IDENTITY(1,1) NOT NULL,
	[Natura] [nvarchar](2) NOT NULL,
	[DescrizioneNatura] [nvarchar](100) NOT NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK_STA-FE_NatureIVA] PRIMARY KEY CLUSTERED 
(
	[idNaturaIVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-TipiAttivita]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-TipiAttivita](
	[idTipoAttivita] [int] IDENTITY(1,1) NOT NULL,
	[TipoAttivita] [nvarchar](100) NOT NULL,
	[GestisciCome] [nvarchar](20) NOT NULL,
	[StudiSettore] [int] NOT NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK_STA-TipoAttivita] PRIMARY KEY CLUSTERED 
(
	[idTipoAttivita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-TipiDettaglioAttivita]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-TipiDettaglioAttivita](
	[idTipoDettaglioAttivita] [int] IDENTITY(1,1) NOT NULL,
	[TipoDettaglioAttivita] [nvarchar](100) NOT NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK__STA-TipiDettagli__0E6E26BF] PRIMARY KEY CLUSTERED 
(
	[idTipoDettaglioAttivita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-TipiPagamento]    Script Date: 09/06/2026 18:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-TipiPagamento](
	[idTipoPag] [int] IDENTITY(1,1) NOT NULL,
	[TipoPagamento] [nvarchar](50) NOT NULL,
	[SiglaPag] [nvarchar](2) NOT NULL,
	[FlagBanca] [nvarchar](1) NOT NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK__STA-TipiPagament__5812160E] PRIMARY KEY CLUSTERED 
(
	[idTipoPag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


SET IDENTITY_INSERT [dbo].[STA-CodiciIVA] ON 

INSERT [dbo].[STA-CodiciIVA] ([idCodiceIVA], [DescrizioneCodiceIVA], [AliquotaCodiceIVA], [SiglaCodiceIVA], [idNaturaIVA], [Bollo], [DataRecord]) VALUES (1, N'IVA 21%', 21, N'21', NULL, NULL, CAST(N'2012-10-31T16:36:47.023' AS DateTime))
INSERT [dbo].[STA-CodiciIVA] ([idCodiceIVA], [DescrizioneCodiceIVA], [AliquotaCodiceIVA], [SiglaCodiceIVA], [idNaturaIVA], [Bollo], [DataRecord]) VALUES (2, N'IVA 22%', 22, N'22', NULL, NULL, CAST(N'2013-10-02T12:53:04.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[STA-CodiciIVA] OFF

GO
SET IDENTITY_INSERT [dbo].[STA-FE_NatureIVA] ON 

INSERT [dbo].[STA-FE_NatureIVA] ([idNaturaIVA], [Natura], [DescrizioneNatura], [DataRecord]) VALUES (1, N'N1', N'Escluse ex art. 15', CAST(N'2019-02-15T09:04:10.887' AS DateTime))
INSERT [dbo].[STA-FE_NatureIVA] ([idNaturaIVA], [Natura], [DescrizioneNatura], [DataRecord]) VALUES (2, N'N2', N'Non soggette', CAST(N'2019-02-15T09:04:10.903' AS DateTime))
INSERT [dbo].[STA-FE_NatureIVA] ([idNaturaIVA], [Natura], [DescrizioneNatura], [DataRecord]) VALUES (3, N'N3', N'Non imponibili', CAST(N'2019-02-15T09:04:10.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[STA-FE_NatureIVA] OFF
GO
SET IDENTITY_INSERT [dbo].[STA-TipiAttivita] ON 

INSERT [dbo].[STA-TipiAttivita] ([idTipoAttivita], [TipoAttivita], [GestisciCome], [StudiSettore], [DataRecord]) VALUES (2, N'CONSULENZE', N'Consulenza', 1, CAST(N'2013-07-16T09:23:31.500' AS DateTime))
INSERT [dbo].[STA-TipiAttivita] ([idTipoAttivita], [TipoAttivita], [GestisciCome], [StudiSettore], [DataRecord]) VALUES (4, N'PROGETTAZIONI', N'Progetto', 1, CAST(N'2013-09-16T14:48:14.480' AS DateTime))
INSERT [dbo].[STA-TipiAttivita] ([idTipoAttivita], [TipoAttivita], [GestisciCome], [StudiSettore], [DataRecord]) VALUES (6, N'ALTRO', N'Consulenza', 0, CAST(N'2013-11-11T12:37:38.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[STA-TipiAttivita] OFF
GO
SET IDENTITY_INSERT [dbo].[STA-TipiDettaglioAttivita] ON 

INSERT [dbo].[STA-TipiDettaglioAttivita] ([idTipoDettaglioAttivita], [TipoDettaglioAttivita], [DataRecord]) VALUES (2, N'DISCIPLINARE', CAST(N'2013-09-12T10:16:33.380' AS DateTime))
INSERT [dbo].[STA-TipiDettaglioAttivita] ([idTipoDettaglioAttivita], [TipoDettaglioAttivita], [DataRecord]) VALUES (3, N'EXTRA DISCIPLINARE', CAST(N'2013-09-12T10:16:57.340' AS DateTime))
INSERT [dbo].[STA-TipiDettaglioAttivita] ([idTipoDettaglioAttivita], [TipoDettaglioAttivita], [DataRecord]) VALUES (6, N'VENDITA CESPITE', CAST(N'2013-11-11T14:22:46.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[STA-TipiDettaglioAttivita] OFF
GO
SET IDENTITY_INSERT [dbo].[STA-TipiPagamento] ON 

INSERT [dbo].[STA-TipiPagamento] ([idTipoPag], [TipoPagamento], [SiglaPag], [FlagBanca], [DataRecord]) VALUES (1, N'Bonifico', N'BO', N'A', CAST(N'2009-01-24T11:49:14.123' AS DateTime))
INSERT [dbo].[STA-TipiPagamento] ([idTipoPag], [TipoPagamento], [SiglaPag], [FlagBanca], [DataRecord]) VALUES (33, N'Ricevute bancarie', N'RB', N'C', CAST(N'2026-06-08T15:49:48.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[STA-TipiPagamento] OFF
GO
/****** Object:  Index [PK_Attivita_Dettaglio]    Script Date: 09/06/2026 18:29:10 ******/
ALTER TABLE [dbo].[Attivita_Dettaglio] ADD  CONSTRAINT [PK_Attivita_Dettaglio] PRIMARY KEY NONCLUSTERED 
(
	[idAttivitaDettaglio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_STA-FE_NatureIVA]    Script Date: 09/06/2026 18:29:10 ******/
ALTER TABLE [dbo].[STA-FE_NatureIVA] ADD  CONSTRAINT [IX_STA-FE_NatureIVA] UNIQUE NONCLUSTERED 
(
	[Natura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attivita] ADD  CONSTRAINT [DF_Attivita_StatoAttivita]  DEFAULT ((0)) FOR [StatoAttivita]
GO
ALTER TABLE [dbo].[Attivita] ADD  CONSTRAINT [DF_Attivita_ImportoDef]  DEFAULT ((1)) FOR [ImportoDef]
GO
ALTER TABLE [dbo].[Attivita_Dettaglio] ADD  CONSTRAINT [DF_Attivita_Dettaglio_StatoDettaglio]  DEFAULT ((0)) FOR [StatoDettaglio]
GO
ALTER TABLE [dbo].[STA-TipiAttivita] ADD  CONSTRAINT [DF_STA-TipiAttivita_StudiSettore]  DEFAULT ((1)) FOR [StudiSettore]
GO
ALTER TABLE [dbo].[Attivita]  WITH NOCHECK ADD  CONSTRAINT [FK_Attivita_Anagrafica] FOREIGN KEY([idAnagrafica])
REFERENCES [dbo].[Anagrafica] ([idAnagrafica])
GO
ALTER TABLE [dbo].[Attivita] CHECK CONSTRAINT [FK_Attivita_Anagrafica]
GO
ALTER TABLE [dbo].[Attivita]  WITH NOCHECK ADD  CONSTRAINT [FK_Attivita_STA-TipiAttivita] FOREIGN KEY([idTipoAttivita])
REFERENCES [dbo].[STA-TipiAttivita] ([idTipoAttivita])
GO
ALTER TABLE [dbo].[Attivita] CHECK CONSTRAINT [FK_Attivita_STA-TipiAttivita]
GO
ALTER TABLE [dbo].[Attivita_Dettaglio]  WITH NOCHECK ADD  CONSTRAINT [FK_Attivita_Dettaglio_Attivita] FOREIGN KEY([idAttivita])
REFERENCES [dbo].[Attivita] ([idAttivita])
GO
ALTER TABLE [dbo].[Attivita_Dettaglio] CHECK CONSTRAINT [FK_Attivita_Dettaglio_Attivita]
GO
ALTER TABLE [dbo].[Attivita_Dettaglio]  WITH NOCHECK ADD  CONSTRAINT [FK_Attivita_Dettaglio_STA-TipiDettaglioAttivita] FOREIGN KEY([idTipoDettaglioAttivita])
REFERENCES [dbo].[STA-TipiDettaglioAttivita] ([idTipoDettaglioAttivita])
GO
ALTER TABLE [dbo].[Attivita_Dettaglio] CHECK CONSTRAINT [FK_Attivita_Dettaglio_STA-TipiDettaglioAttivita]
GO
