USE [Fatturazione]
GO
/****** Object:  Table [dbo].[STA-FE_CondizioniPagamento]    Script Date: 20/05/2026 11:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-FE_CondizioniPagamento](
	[idCondizionePagamento] [int] IDENTITY(1,1) NOT NULL,
	[Codice] [nchar](4) NOT NULL,
	[Descrizione] [nvarchar](50) NOT NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK_STA-FE_CondizioniPagamento] PRIMARY KEY CLUSTERED 
(
	[idCondizionePagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-FE_ModalitaPagamento]    Script Date: 20/05/2026 11:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-FE_ModalitaPagamento](
	[idModalitaPagamento] [int] IDENTITY(1,1) NOT NULL,
	[Codice] [nchar](4) NOT NULL,
	[Descrizione] [nvarchar](50) NOT NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK_STA-FE_ModalitaPagamento] PRIMARY KEY CLUSTERED 
(
	[idModalitaPagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-FE_NatureIVA]    Script Date: 20/05/2026 11:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-FE_NatureIVA](
	[idNaturaIVA] [int] IDENTITY(1,1) NOT NULL,
	[Natura] [nvarchar](2) NOT NULL,
	[DescrizioneNatura] [nvarchar](100) NOT NULL,
	[DataRecord] [dbo].[DataRecord] NOT NULL,
 CONSTRAINT [PK_STA-FE_NatureIVA] PRIMARY KEY CLUSTERED 
(
	[idNaturaIVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-Paesi]    Script Date: 20/05/2026 11:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-Paesi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodicePaese] [nvarchar](2) NOT NULL,
	[Paese] [nvarchar](50) NOT NULL,
	[CE] [int] NOT NULL,
	[CodicePaese2] [nvarchar](50) NULL,
	[ISO] [nvarchar](2) NULL,
	[Cittadinanza] [nvarchar](50) NOT NULL,
	[Lingua] [nvarchar](2) NOT NULL,
	[DataRecord] [dbo].[DataRecord] NULL,
 CONSTRAINT [PK__STA-Paesi__286302EC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STA-Province]    Script Date: 20/05/2026 11:59:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STA-Province](
	[Prov] [nvarchar](2) NOT NULL,
	[Provincia] [nvarchar](30) NULL,
	[CodiceProvincia] [smallint] NULL,
	[IdRegione] [int] NULL,
	[DataRecord] [dbo].[DataRecord] NULL,
 CONSTRAINT [PK__STA-Province__2C3393D0] PRIMARY KEY CLUSTERED 
(
	[Prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[STA-FE_CondizioniPagamento] ON 

INSERT [dbo].[STA-FE_CondizioniPagamento] ([idCondizionePagamento], [Codice], [Descrizione], [DataRecord]) VALUES (1, N'TP01', N'Pagamento a rate', CAST(N'2019-02-15T09:04:12.463' AS DateTime))
INSERT [dbo].[STA-FE_CondizioniPagamento] ([idCondizionePagamento], [Codice], [Descrizione], [DataRecord]) VALUES (2, N'TP02', N'Pagamento completo', CAST(N'2019-02-15T09:04:12.463' AS DateTime))
INSERT [dbo].[STA-FE_CondizioniPagamento] ([idCondizionePagamento], [Codice], [Descrizione], [DataRecord]) VALUES (3, N'TP03', N'Anticipo', CAST(N'2019-02-15T09:04:12.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[STA-FE_CondizioniPagamento] OFF
GO
SET IDENTITY_INSERT [dbo].[STA-FE_ModalitaPagamento] ON 

INSERT [dbo].[STA-FE_ModalitaPagamento] ([idModalitaPagamento], [Codice], [Descrizione], [DataRecord]) VALUES (1, N'MP01', N'Contanti', CAST(N'2019-02-15T09:04:12.463' AS DateTime))
INSERT [dbo].[STA-FE_ModalitaPagamento] ([idModalitaPagamento], [Codice], [Descrizione], [DataRecord]) VALUES (2, N'MP02', N'Assegno', CAST(N'2019-02-15T09:04:12.463' AS DateTime))
INSERT [dbo].[STA-FE_ModalitaPagamento] ([idModalitaPagamento], [Codice], [Descrizione], [DataRecord]) VALUES (3, N'MP03', N'Assegno circolare', CAST(N'2019-02-15T09:04:12.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[STA-FE_ModalitaPagamento] OFF
GO
SET IDENTITY_INSERT [dbo].[STA-FE_NatureIVA] ON 

INSERT [dbo].[STA-FE_NatureIVA] ([idNaturaIVA], [Natura], [DescrizioneNatura], [DataRecord]) VALUES (1, N'N1', N'Escluse ex art. 15', CAST(N'2019-02-15T09:04:10.887' AS DateTime))
INSERT [dbo].[STA-FE_NatureIVA] ([idNaturaIVA], [Natura], [DescrizioneNatura], [DataRecord]) VALUES (2, N'N2', N'Non soggette', CAST(N'2019-02-15T09:04:10.903' AS DateTime))
INSERT [dbo].[STA-FE_NatureIVA] ([idNaturaIVA], [Natura], [DescrizioneNatura], [DataRecord]) VALUES (3, N'N3', N'Non imponibili', CAST(N'2019-02-15T09:04:10.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[STA-FE_NatureIVA] OFF
GO
SET IDENTITY_INSERT [dbo].[STA-Paesi] ON 

INSERT [dbo].[STA-Paesi] ([Id], [CodicePaese], [Paese], [CE], [CodicePaese2], [ISO], [Cittadinanza], [Lingua], [DataRecord]) VALUES (1, N'AD', N'ANDORRA', 0, NULL, NULL, N'ANDORRA', N'EN', NULL)
INSERT [dbo].[STA-Paesi] ([Id], [CodicePaese], [Paese], [CE], [CodicePaese2], [ISO], [Cittadinanza], [Lingua], [DataRecord]) VALUES (2, N'AE', N'EMIRATI ARABI UNITI', 0, NULL, NULL, N'EMIRATI ARABI UNITI', N'EN', NULL)
INSERT [dbo].[STA-Paesi] ([Id], [CodicePaese], [Paese], [CE], [CodicePaese2], [ISO], [Cittadinanza], [Lingua], [DataRecord]) VALUES (3, N'AF', N'AFGHANISTAN', 0, NULL, NULL, N'AFGHANISTAN', N'EN', NULL)
GO
SET IDENTITY_INSERT [dbo].[STA-Paesi] OFF
GO
INSERT [dbo].[STA-Province] ([Prov], [Provincia], [CodiceProvincia], [IdRegione], [DataRecord]) VALUES (N'AG', N'AGRIGENTO', 84, 15, NULL)
INSERT [dbo].[STA-Province] ([Prov], [Provincia], [CodiceProvincia], [IdRegione], [DataRecord]) VALUES (N'AL', N'ALESSANDRIA', 6, 12, NULL)
INSERT [dbo].[STA-Province] ([Prov], [Provincia], [CodiceProvincia], [IdRegione], [DataRecord]) VALUES (N'AN', N'ANCONA', 42, 10, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_STA-FE_NatureIVA]    Script Date: 20/05/2026 11:59:18 ******/
ALTER TABLE [dbo].[STA-FE_NatureIVA] ADD  CONSTRAINT [IX_STA-FE_NatureIVA] UNIQUE NONCLUSTERED 
(
	[Natura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'idCondizionePagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=1050 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=2160 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=1995 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AlternateBackThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DatasheetForeThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DatasheetGridlinesThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DefaultView', @value=0x02 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Filter', @value=NULL , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_FilterOnLoad', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_HideNewField', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderBy', @value=NULL , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderByOn', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderByOnLoad', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Orientation', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TableMaxRecords', @value=10000 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ThemeFontIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TotalsRow', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_CondizioniPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=2475 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'idModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=1050 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Codice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=3930 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'Descrizione'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=1995 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AlternateBackThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DatasheetForeThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DatasheetGridlinesThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DefaultView', @value=0x02 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Filter', @value=NULL , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_FilterOnLoad', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_HideNewField', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderBy', @value=NULL , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderByOn', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderByOnLoad', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Orientation', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TableMaxRecords', @value=10000 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ThemeFontIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TotalsRow', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_ModalitaPagamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'idNaturaIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'Natura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=2700 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'109' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DescrizioneNatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AggregateType', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnHidden', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnOrder', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ColumnWidth', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_CurrencyLCID', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DisplayControl', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Format', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_IMEMode', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TextAlign', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA', @level2type=N'COLUMN',@level2name=N'DataRecord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_AlternateBackThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DatasheetForeThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DatasheetGridlinesThemeColorIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DefaultView', @value=0x02 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Filter', @value=NULL , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_FilterOnLoad', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_HideNewField', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderBy', @value=NULL , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderByOn', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_OrderByOnLoad', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Orientation', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TableMaxRecords', @value=10000 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_ThemeFontIndex', @value=-1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_TotalsRow', @value=0 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STA-FE_NatureIVA'
GO
